#tituloStock {
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;

}
  
.titulo hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-top: 2px solid rgb(255, 190, 70);
    display: none;
}
.contStock{
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 7px;
    padding-top: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
.cajaStock{
    
    background-color: white;
    display: flex;
    border-bottom: 8px solid #1f1f1f;
    height: 60px;
}
.prendaCantStock h3{
    font-family: 'Courier New', Courier, monospace;
}
.prendaStockInfo,
.prendaStockTotal,
.prendaCantStock{
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prendaCantStock{
    width: 10%;
}
.prendaStockTotal{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prendaStockInfo h4{
    font-family: 'Courier New', Courier, monospace;
}
.prendaStockIMG{
    width: 10%;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid rgb(221, 221, 221);
}
